extends pug/base

append vars
	//- ...

block content
	section.about
		h2.about__title Сми о нас
		.about__carousel.owl-carousel.owl-theme
			.about__item
				.about__item-name NORMAN OBSERVER
				.about__item-title Credits (CS*) registered 8.02% step up during a day
				.about__item-text It was good day for Credits (CS*), as it jumped by $0.0482999999999999 or 8.02%, touching $0.6507. International Cryptocoin Analysts believe that Credits (CS*) is looking for the $0.71577 goal. According to 3 analysts could reach $1.10612767597936. The highest price was $0.6521 and lowest of $0.6024 for March
				a(href="#", class="about__item-more") Читать полностью
			.about__item
				.about__item-name NORMAN OBSERVER
				.about__item-title Credits (CS*) registered 8.02% step up during a day
				.about__item-text It was good day for Credits (CS*), as it jumped by $0.0482999999999999 or 8.02%, touching $0.6507. International Cryptocoin Analysts believe that Credits (CS*) is looking for the $0.71577 goal. According to 3 analysts could reach $1.10612767597936. The highest price was $0.6521 and lowest of $0.6024 for March
				a(href="#", class="about__item-more") Читать полностью
			.about__item
				.about__item-name NORMAN OBSERVER
				.about__item-title Credits (CS*) registered 8.02% step up during a day
				.about__item-text It was good day for Credits (CS*), as it jumped by $0.0482999999999999 or 8.02%, touching $0.6507. International Cryptocoin Analysts believe that Credits (CS*) is looking for the $0.71577 goal. According to 3 analysts could reach $1.10612767597936. The highest price was $0.6521 and lowest of $0.6024 for March
				a(href="#", class="about__item-more") Читать полностью
			.about__item
				.about__item-name NORMAN OBSERVER
				.about__item-title Credits (CS*) registered 8.02% step up during a day
				.about__item-text It was good day for Credits (CS*), as it jumped by $0.0482999999999999 or 8.02%, touching $0.6507. International Cryptocoin Analysts believe that Credits (CS*) is looking for the $0.71577 goal. According to 3 analysts could reach $1.10612767597936. The highest price was $0.6521 and lowest of $0.6024 for March
				a(href="#", class="about__item-more") Читать полностью
			.about__item
				.about__item-name NORMAN OBSERVER
				.about__item-title Credits (CS*) registered 8.02% step up during a day
				.about__item-text It was good day for Credits (CS*), as it jumped by $0.0482999999999999 or 8.02%, touching $0.6507. International Cryptocoin Analysts believe that Credits (CS*) is looking for the $0.71577 goal. According to 3 analysts could reach $1.10612767597936. The highest price was $0.6521 and lowest of $0.6024 for March
				a(href="#", class="about__item-more") Читать полностью
			.about__item
				.about__item-name NORMAN OBSERVER
				.about__item-title Credits (CS*) registered 8.02% step up during a day
				.about__item-text It was good day for Credits (CS*), as it jumped by $0.0482999999999999 or 8.02%, touching $0.6507. International Cryptocoin Analysts believe that Credits (CS*) is looking for the $0.71577 goal. According to 3 analysts could reach $1.10612767597936. The highest price was $0.6521 and lowest of $0.6024 for March
				a(href="#", class="about__item-more") Читать полностью
			.about__item
				.about__item-name NORMAN OBSERVER
				.about__item-title Credits (CS*) registered 8.02% step up during a day
				.about__item-text It was good day for Credits (CS*), as it jumped by $0.0482999999999999 or 8.02%, touching $0.6507. International Cryptocoin Analysts believe that Credits (CS*) is looking for the $0.71577 goal. According to 3 analysts could reach $1.10612767597936. The highest price was $0.6521 and lowest of $0.6024 for March
				a(href="#", class="about__item-more") Читать полностью
